.FeaturesSection {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1424px;
    margin-top: 148px;
    flex-direction: column;
}
.FeaturesSection .mobility{
    width: 762px;
    height: 116px;
    margin-bottom: 48px;
    

}
.FeaturesSection .mobility h2{
    width: 762px;
    height: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #080912;
    margin-bottom: 0;
    margin-top: 0;
}
.FeaturesSection .mobility p{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    color: #53557A;
}
.ferryndbus{
    display: flex;
    width: 1240px;
    height: 576px;
    gap: 32px;
    margin-top: 32px;


}
.ferryndbus .ferry, .bus{
    width: 604px;
    height: 576px;
    border-radius: 30px;
   
    border: 1px solid #75757A1A;
    padding-top: 48px;
    position: relative;
  
    

}
.ferryndbus .ferry::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/backgdferry.png");
    background-color: #EEEEF2;
   
   
    opacity: 0.02;
    z-index: -1;
   
    border-radius: 55px;
    

}
.ferryndbus .bus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/backgdbus.png");
    background-color: #EEEEF2;
   
   
    opacity: 0.02;
    z-index: -1;
   
    border-radius: 55px;
    

}
.ferryndbus .ferryText {
    width: 500px;
    height: 134px;
    margin-left: 52px;
    margin-bottom: 53px;



}
.ferryndbus .ferryText h3{
    margin: 0;
    width: 500px;
    height: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #080912;
}
.ferryndbus .ferryText p{
    margin-top: 12px;
    width: 500px;
    height: 90px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    color: #53557A;
}
.ferryndbus .busText{
    width: 540px;
    height: 134px;
    margin-left: 32px;

}
.ferryndbus .busText h3{
    width: 54opx;
    height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #080912;
}
.ferryndbus .busText p{
    margin-top: 12px;
    width: 540px;
    height: 90px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    color: #53557A;
}
.ferryndbus .busImage{
    position: relative;
    margin-top: 33px;
}
.ferryndbus .busImageLine{
    position: absolute;
    bottom: 0;

}
.ferryndbus .busImageLine img {
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;

}
.ferryndbus .ferryImage{
    position: relative;
    width: 604px;
    height: 341px;
    margin-top: 106px;
   
}
.ferryndbus .ferryImageLine{
    position: absolute;
    bottom: 0;

}
.ferryndbus .ferryImageLine img{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.trainSection {
    width: 1240px;
    height: 648px;
    position: relative;
    margin-bottom: 0;
   
   
    
    
   
    

    
}
.trainSection::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/d705b3e79400ebbb9671da3de637fb29.png");
   
    opacity: 0.03;
    z-index: -1;
    border:  1px solid #75757A1A;
    border-radius: 55px;
    

}

 .trainSection   .trainImage{
    width: 865px;
    height: 525px;
    margin-top: 127px;
    
    margin-bottom: 0;
}

.trainSection .trainImage .trainImageMain {
    position: relative;
    margin-bottom: 0;
}
.trainSection .trainImage .trainImageMain div {
    position: absolute;
    bottom: 0px;
    
    width: 1240px;
    margin-bottom: 0;
}
.trainSection .line{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.trainSection  .trainText {
    width: 675px;
    height: 134px;
    margin-left: 517px;
    margin-top: 52px;
    margin-bottom: 0;
    position: absolute;
}
.trainSection .trainText h3{
    width: 675px;
    height: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #080912;

}
.trainSection .trainText p{
    width: 675px;
    height: 90px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.52px;
    color: #53557A;
}