body{
 
  padding-top: 124px;
  font-family: "Clash Grotesk", sans-serif;
  background-color: #F6F7F8;
  height: auto;
 
  
  
  
  
  
  

  
  
  margin-left: 0;
}
html{
  margin:0;
  height:100%;
}
